server:
  port: 8000
spring:
  cloud:
    gateway:
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOriginPatterns: "*"
            allowedMethods: "*"
            allowedHeaders: "*"
            allowCredentials: true
      routes:
        - id: member
#          uri:
#            http://127.0.0.1:8001
          uri: lb://member
          predicates:
            - Path= /member/**
        - id: business
#          uri:
#            http://127.0.0.1:8002
          uri: lb://business
          predicates:
            - Path= /business/**
        - id: batch
#          uri:
#            http://127.0.0.1:8003
          uri: lb://batch
          predicates:
            - Path= /batch/**
