server:
  port: 8002
  servlet:
    context-path: /business
spring:
  datasource:
    username: train_business
    url: jdbc:mysql://rm-7xv9s40yi6w07v136go.rwlb.rds.aliyuncs.com/train_business?characterEncoding=UTF8&autoReconnect=true&serverTimezone=Asia/Shanghai
    password: 202019Cs
    driver-class-name: com.mysql.cj.jdbc.Driver
  application:
    name: business
  redis:
    port: 6379
    host: localhost
    password: 202019Cs
  cache:
    type: redis #设置缓存为redis
    redis:
      use-key-prefix: true   # 放在redis里面key的前缀
      key-prefix: train_cache_ # 设置前缀，进行项目隔离
      cache-null-values: true # 是否可以为空
      time-to-live: 60s # 缓存的时间

mybatis:
  mapper-locations: classpath:/mapper/**/*.xml
#  configuration:
#    local-cache-scope: statement  关闭一级缓存
logging:
  level:
    com:
      jiawa:
        train:
          business:
            mapper: trace